<a href="https://colab.research.google.com/github/joanby/trading-algoritmico-a-z-con-python/blob/main/ES_TA_Cap%C3%ADtulo_04_Crea_tu_primera_estrategia_de_trading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px">
<img alt="Colaboratory logo" height="45px" src="https://static-881c.kxcdn.com/wp-content/uploads/2016/03/frogamesLogoFull4.png" align="left" hspace="10px" vspace="0px"></p>


# Crea tu primera estrategia de trading


### Resumen
* Gestionar los datos
* Media m√≥vil
* Estrategia
* Gr√°fico
* Calcular el beneficio
* Automatizaci√≥n
* Comparar la estrategia con datos procedentes de diferentes fuentes

<br>



üí∞ √önete a la comunidad de [Discord](https://discord.gg/z3dx5XpkX4)

üìö Puedes leer nuestro libro en [Amazon](https://www.amazon.es/Python-para-finanzas-trading-algor%C3%ADtmico-ebook/dp/B0BT4ZS9Q3/)

üñ•Ô∏è El canal de [YouTube de Quantreo's](https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw) (en ingl√©s) y el de [Frogames](https://www.youtube.com/channel/UCMUxXNYrVCv6-bQakhomvBg) en espa√±ol

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")

In [2]:
# El c√≥digo aqu√≠ te permitir√° cambiar los gr√°ficos a modo oscuro para aquellos que opt√©is por programar en modo oscuro
import matplotlib.pyplot as plt

import matplotlib as mpl
from matplotlib import cycler
colors = cycler('color',
                ['#669FEE', '#66EE91', '#9988DD',
                 '#EECC55', '#88BB44', '#FFBBBB'])
plt.rc('figure', facecolor='#313233')
plt.rc('axes', facecolor="#313233", edgecolor='none',
       axisbelow=True, grid=True, prop_cycle=colors,
       labelcolor='gray')
plt.rc('grid', color='474A4A', linestyle='solid')
plt.rc('xtick', color='gray')
plt.rc('ytick', direction='out', color='gray')
plt.rc('legend', facecolor="#313233", edgecolor="#313233")
plt.rc("text", color="#C9C9C9")

#  Gestionar los datos

In [3]:
# Funci√≥n de preprocesado

def preprocessing(name):
  
  # Importar los datos
  df = pd.read_csv(name, delimiter="\t", index_col="<DATE>", parse_dates=True).dropna()

  # Eliminar las √∫ltimas dos columnas
  df = df.iloc[:,:-2]

  # Renombrar 
  df.columns = ["open", "high", "low", "close", "volume"]
  df.index.name = "time"

  return df

In [4]:
def preprocessing_yf(symbol):
  
  #Importar los datos
  df = yf.download(symbol).dropna()

  #Renombrar
  df.columns = ["open", "high", "low", "close", "adj close", "volume"]
  df.index.name = "time"

  # Eliminar la columna adj close
  del df["adj close"]

  return df

In [5]:
df = preprocessing_yf("EURUSD=X")

[*********************100%***********************]  1 of 1 completed

In [7]:
df

                open      high       low     close  volume
time
2003-12-01  1.203398  1.204007  1.194401  1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695       0
...              ...       ...       ...       ...     ...
2022-06-13  1.048999  1.049759  1.041905  1.048999       0
2022-06-14  1.041515  1.048240  1.039825  1.041515       0
2022-06-15  1.044059  1.050718  1.038627  1.044059       0
2022-06-16  1.045620  1.053031  1.038260  1.045620       0
2022-06-17  1.055520  1.056301  1.049759  1.052299       0

[4811 rows x 5 columns]

# Media m√≥vil

# Estrategia

# Verificaci√≥n gr√°fica

# Calcular las ganancias

# Automatizaci√≥n

# Comparar la estrategia con diferentes datos