<a href="https://colab.research.google.com/github/joanby/trading-algoritmico-a-z-con-python/blob/main/ES_TA_Cap%C3%ADtulo_03_Pre_Procesado_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px">
<img alt="Colaboratory logo" height="45px" src="https://static-881c.kxcdn.com/wp-content/uploads/2016/03/frogamesLogoFull4.png" align="left" hspace="10px" vspace="0px"></p>

# Preprocesado de Datos


<br>


üí∞ √önete a la comunidad de [Discord](https://discord.gg/z3dx5XpkX4)

üìö Puedes leer nuestro libro en [Amazon](https://www.amazon.es/Python-para-finanzas-trading-algor%C3%ADtmico-ebook/dp/B0BT4ZS9Q3/)

üñ•Ô∏è El canal de [YouTube de Quantreo's](https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw) (en ingl√©s) y el de [Frogames](https://www.youtube.com/channel/UCMUxXNYrVCv6-bQakhomvBg) en espa√±ol

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import warnings

warnings.filterwarnings("ignore")

# Manejar datos que proceden de MT5 (manualmente)

In [4]:
# Importar los datos  en bruto
df = pd.read_csv("./FOREX D1/EURUSD_D1.csv")
df

     <DATE>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0     2011.01.03\t1.33443\t1.33945\t1.32501\t1.33499...
1     2011.01.04\t1.33507\t1.34330\t1.32919\t1.33104...
2     2011.01.05\t1.33099\t1.33247\t1.31255\t1.31485...
3     2011.01.06\t1.31495\t1.31699\t1.29834\t1.30022...
4     2011.01.07\t1.30018\t1.30206\t1.29044\t1.29055...
...                                                 ...
2861  2022.01.10\t1.13550\t1.13599\t1.12853\t1.13252...
2862  2022.01.11\t1.13230\t1.13753\t1.13131\t1.13666...
2863  2022.01.12\t1.13655\t1.14528\t1.13545\t1.14411...
2864  2022.01.13\t1.14402\t1.14817\t1.14357\t1.14539...
2865  2022.01.14\t1.14531\t1.14829\t1.13987\t1.14151...

[2866 rows x 1 columns]

In [7]:
# Agregar delimitador
df = pd.read_csv("./FOREX D1/EURUSD_D1.csv", delimiter="\t")
df

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2011.01.03,1.33443,1.33945,1.32501,1.33499,63214,0,9
1,2011.01.04,1.33507,1.34330,1.32919,1.33104,80673,0,8
2,2011.01.05,1.33099,1.33247,1.31255,1.31485,83725,0,8
3,2011.01.06,1.31495,1.31699,1.29834,1.30022,73723,0,8
4,2011.01.07,1.30018,1.30206,1.29044,1.29055,82379,0,8
...,...,...,...,...,...,...,...,...
2861,2022.01.10,1.13550,1.13599,1.12853,1.13252,53457,0,0
2862,2022.01.11,1.13230,1.13753,1.13131,1.13666,49386,0,0
2863,2022.01.12,1.13655,1.14528,1.13545,1.14411,51872,0,0
2864,2022.01.13,1.14402,1.14817,1.14357,1.14539,53078,0,0
2865,2022.01.14,1.14531,1.14829,1.13987,1.14151,59882,0,0

In [44]:
# Funcion de preprocesado


def preprocessing(name):
    # Importar los datos
    df = pd.read_csv(
        name, delimiter="\t", index_col="<DATE>", parse_dates=True
    ).dropna()

    # Eliminar las ultimas dos columnas
    df = df.iloc[:, :-2]

    # # Renombrar
    df.columns = ["open", "high", "low", "close", "volume"]
    df.index.name = "time"

    return df

In [45]:
preprocessing("./FOREX D1/EURUSD_D1.csv")

               open     high      low    close  volume
time
2011-01-03  1.33443  1.33945  1.32501  1.33499   63214
2011-01-04  1.33507  1.34330  1.32919  1.33104   80673
2011-01-05  1.33099  1.33247  1.31255  1.31485   83725
2011-01-06  1.31495  1.31699  1.29834  1.30022   73723
2011-01-07  1.30018  1.30206  1.29044  1.29055   82379
...             ...      ...      ...      ...     ...
2022-01-10  1.13550  1.13599  1.12853  1.13252   53457
2022-01-11  1.13230  1.13753  1.13131  1.13666   49386
2022-01-12  1.13655  1.14528  1.13545  1.14411   51872
2022-01-13  1.14402  1.14817  1.14357  1.14539   53078
2022-01-14  1.14531  1.14829  1.13987  1.14151   59882

[2866 rows x 5 columns]

# Manejar los datos que proceden de Yfinance

In [46]:
yf.download("EURUSD=X")

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2003-12-01  1.203398  1.204007  1.194401  1.196501   1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897   1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298   1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094   1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695   1.218695       0
...              ...       ...       ...       ...        ...     ...
2023-07-24  1.112533  1.114504  1.106880  1.112533   1.112533       0
2023-07-25  1.106317  1.108893  1.102208  1.106317   1.106317       0
2023-07-26  1.105046  1.108647  1.103838  1.105046   1.105046       0
2023-07-27  1.107837  1.115200  1.098491  1.107837   1.107837       0
2023-07-28  1.097936  1.104728  1.095050  1.101928   1.101928       0

[5101 rows x 6 columns]

In [50]:
def preprocessing_yf(symbol):
    # Importar los datos
    df = yf.download(symbol).dropna()

    # Renombrar
    df.columns = ["open", "high", "low", "close", "adj close", "volume"]
    df.index.name = "time"

    # Eliminar la columna adj close
    del df["adj close"]

    return df

In [51]:
df = preprocessing_yf("EURUSD=X")
df

[*********************100%***********************]  1 of 1 completed

                open      high       low     close  volume
time
2003-12-01  1.203398  1.204007  1.194401  1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695       0
...              ...       ...       ...       ...     ...
2023-07-24  1.112533  1.114504  1.106880  1.112533       0
2023-07-25  1.106317  1.108893  1.102208  1.106317       0
2023-07-26  1.105046  1.108647  1.103838  1.105046       0
2023-07-27  1.107837  1.115200  1.098491  1.107837       0
2023-07-28  1.097936  1.104728  1.095050  1.101928       0

[5101 rows x 5 columns]